.benefitsWrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5em;
}

.benefitsTextOverall {
    width: 50vw; 
}

.benefitsParagraph {
    margin: 1em;
}